

  <div class="home-landing-container">
    <div class="row">
      <div class="col">      
        <%= image_tag ("1.jpg"), class: "img-responsive"%>
      </div>
      <div class="col">
          <h1>Welcome to Divine Flavor</h1>
          <h3>...where you can create recipes, make friends, and gain inspirations from others....</h3>
          <div class="btns">
            <%= link_to "Sign In ", new_user_session_path, class: "btn-menu animated fadeInUp scrollto" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "btn-book animated fadeInUp scrollto" %>
          </div>
      </div>
    </div>
  
  </div>

