<div id="page-content">
    <div class="container home-container">
    <div class="jumbotron text-center ", style="color:black"><br><br>
    <h1 class="display-4">Welcome to Divine Flavor!</h1>
    <p class="lead text">..where you can save your recipes, </p>
    <p class="lead text"> easily access them and share them with friends!</p>
    <hr class="my-4">
    <p class="lead home-signin"><br><br>
        <%= link_to "Sign In ", new_user_session_path, class: "btn btn-success btn-lg" %> | <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-lg" %>
    </p>
    </div>
</div>

</div>
<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
      <small>Copyright &copy; Divine Flavor</small>
    </div>
  </footer>